#titlecontainer {
    margin-right: 75%;
    text-align: center;
}

#topnav {
    text-align: right;
    float: right;
    padding: 10px;
}

#purpose {
    padding-top: 20px;
    padding-bottom: 10px;
}

#purpose, a:link, a:visited {
  padding:10px;
}

.fontstyle {
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-style: italic;
}

body {
    border: 2px solid white;
    border-radius: 25px;
    background-color:black;
    margin-left: 25%;
    margin-right: 25%;
    padding: 25px;
}

.whitebackground {
    background-color: white;
}

nav {
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
    display: inline-block;
}

a:link, a:visited {
    background-color: grey;
    color: snow;
    padding: 6px 8px 6px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    border-radius: 2px;
}

a:hover, a:active {
    background-color: lightgrey;
    color: grey;
}

.tabselect {
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 58%;
    height: 300px;
    padding: 10px;
    float:left;
}

.news {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 42%;
    height: 300px;
    padding: 0px;
    display:inline-block;
    position: relative;
    text-align: center;
}

.tab {
    cursor:pointer;
    background-color: grey;
    color: snow;
    padding: 6px 8px 6px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    border-radius: 2px;
}

.active, .tab:hover {
    background-color: #717171;
  }

.newsspot {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.featureactivity {
    border-bottom: 2px solid black;
    padding: 10px;
}

.address {
    padding: 20px; 
    width: 42%;
    display:inline-block;
}

.bottomnav1 { 
    padding: 20px;
    width: 29%;
    float: right;
    text-align: center;
}
.bottomnav2 { 
    padding: 20px;
    width: 29%;
    float: right;
    text-align: center;
}

.bottomnav3 {
    padding: 10px;
}

#searchbtn {
  padding: 10px;
}

input[type=text] {
  padding: 10px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.loginform {
  padding: 16px;
}

.loginbutton {
  background-color:#717171;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid black;
  cursor: pointer;
  width: 100%;
}

.userfield {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}

#titlelink {
  background-color: unset;
  color: unset;
  padding: unset;
  text-decoration: unset;
  text-align: unset;
  display: unset;
  border: unset;
  border-radius: unset;
}

#subtable {
  border-collapse: collapse;
  width: 100%;
}

#subtable td, #subtable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#subtable tr:nth-child(even){background-color: #f2f2f2;}
#subtable tr:hover {background-color: #ddd;}

#subtable th {
  padding-top:12px;
  padding-bottom:12px;
  text-align: left;
  background-color: rgb(0, 0, 0);
  color: white;
}